body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    padding: 20px;
}

h1 {
	font-size: 4em;
	text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 8px 12px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #e8f5e9;
}

.thumbnail {
    max-width: 80px;
    max-height: 80px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 3px;
    transition: transform 0.2s;
}

.thumbnail:hover {
    transform: scale(1.1);
    border-color: #4CAF50;
}

a {
    text-decoration: none;
}


.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
}

.lightbox img {
    max-width: 90%;
    max-height: 90%;
    /*transition: transform 0.2s ease;*/
    cursor: zoom-in;
    transform-origin: center center;
}

.lightbox img.zoomed {
    transform: scale(2);
    cursor: zoom-out;
}
